rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isFamily() {
      return request.auth != null
        && request.auth.token.email_verified == true
        && request.auth.token.email in [
          'davidforgot7727@gmail.com',
          'timeslatitude@gmail.com',
          'johsu@beast-kingdom.com.tw'
        ];
    }

    match /trips/{tripId}/{document=**} {
      allow read, write: if isFamily();
    }
  }
}
